# image and container
DRPY_IMAGE=ghcr.io/longzanxi/drpy-node:latest
DRPY_CONTAINER_NAME=drpy-node

# host ports
DRPY_PORT=5757
DRPY_WS_PORT=57575

# runtime
TZ=Asia/Shanghai
NODE_ENV=production

# auth (must change)
API_AUTH_NAME=admin
API_AUTH_CODE=change-this-login-pass
API_PWD=change-this-api-pwd
PROXY_AUTH=drpys

# optional
ENABLE_TASKER=0
MAX_TASK=8
LOG_LEVEL=info
